<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.team04.crucible">
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="com.android.alarm.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/card_crucible_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CardCrucible">
        <activity android:name=".EditThemeActivity" />
        <activity android:name=".GameModeActivity" />
        <activity android:name=".AddCardsActivity" />
        <activity android:name=".CardSelectionActivity" />
        <activity android:name=".EditCardsActivity" />
        <activity android:name=".EditSelectionActivity" />
        <activity android:name=".StudyModeActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".NotificationPublisher" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
    </application>
</manifest>